.spacewalk-toolbar-h1
  .spacewalk-toolbar
  h1
    i.fa.fa-group
    | #{" " + orgName + " "}
    a(href="/docs/reference/home/home-overview.html" target="_blank")
      i.fa.fa-question-circle.spacewalk-help-link

#config-channels

script(type='text/javascript').
    window.csrfToken = "#{csrf_token}";
    window.orgId = "#{orgId}";

script(src='/javascript/ace-editor/src-min-noconflict/ace.js?cb=#{webVersion}')
script(src='/javascript/ace-editor/src-min-noconflict/ext-modelist.js?cb=#{webVersion}')
script(src='/javascript/jquery-ui.js?cb=#{webVersion}')

script(src='/javascript/manager/organizations/config-channels/org-config-channels.bundle.js?cb=#{webVersion}', type='text/javascript')
