.spacewalk-toolbar-h1
  h1
    i.fa.fa-desktop
    | All Minions


.panel.panel-default
  .panel-heading
    h2
      i.fa.fa-plus
      | Pending
  table(class="table table-striped")
    for minion in unaccepted_minions
      tr
        td(style="vertical-align: middle;")
          b #{minion}
        td.col-md-2
          .pull-right.btn-group
            a.btn.btn-default(href="/rhn/manager/minions/accept/#{minion}"): i.fa.fa-check(style="margin:0px;")
            a.btn.btn-default(href="/rhn/manager/minions/reject/#{minion}"): i.fa.fa-times(style="margin:0px;")
            a.btn.btn-default(href="/rhn/manager/minions/delete/#{minion}"): i.fa.fa-trash-o(style="margin:0px;")
    else
      tr
        td No pending minions

.panel.panel-default
  .panel-heading
    h2
      i.fa.fa-check
      | Accepted
  table(class="table table-striped")
    for minion in minions
      tr
        td(style="vertical-align: middle;")
          if present.contains(minion)
            b: a(href="/rhn/manager/minions/#{minion}") #{minion}
          else
            i.fa.fa-exclamation-triangle(title="Minion is not available.", style="color: #a81a1a")
            |  
            b #{minion}
        td.col-md-2
          .pull-right
            a.btn.btn-default(href="/rhn/manager/minions/delete/#{minion}"): i.fa.fa-trash-o(style="margin:0px;")
    else
      tr
        td No accepted minions

.panel.panel-default
  .panel-heading
    h2
      i.fa.fa-times
      | Rejected
  table(class="table table-striped")
    for minion in rejected_minions
      tr
        td(style="vertical-align: middle;")
          b #{minion}
        td.col-md-2(style="vertical-align: middle;")
          .pull-right
            a.btn.btn-default(href="/rhn/manager/minions/delete/#{minion}"): i.fa.fa-trash-o(style="margin:0px;")
    else
      tr
        td No rejected minions
