.spacewalk-toolbar-h1
  h1
    i.fa.fa-desktop
    | #{l.t("All Minions")}

.row
  .col-md-6
    #pending-list.panel.panel-default
      .panel-heading
        if size(unaccepted_minions) > 1
          h2.pull-left(style="padding-top: 4px")
            i.fa.fa-plus
            | #{size(unaccepted_minions)} #{l.t("Pending")}
          form(method="post")
            input(type="hidden", name="csrf_token", value="#{csrf_token}")
            .pull-right.btn-group
              button(type="submit" formaction="/rhn/manager/minions/*/accept").btn.btn-default
                i.fa.fa-check.no-margin
              button(type="submit" formaction="/rhn/manager/minions/*/reject").btn.btn-default
                i.fa.fa-times.no-margin
          .clearfix
        else
          h2
            i.fa.fa-plus
            | #{size(unaccepted_minions)} #{l.t("Pending")}
      table(class="table table-striped vertical-middle")
        for minion in unaccepted_minions
          tr
            td
              b #{minion}
            td.col-md-5
              form(method="post")
                input(type="hidden", name="csrf_token", value="#{csrf_token}")
                .pull-right.btn-group
                  button(type="submit" formaction="/rhn/manager/minions/#{minion}/accept").btn.btn-default
                    i.fa.fa-check.no-margin
                  button(type="submit" formaction="/rhn/manager/minions/#{minion}/reject").btn.btn-default
                    i.fa.fa-times.no-margin
        else
          tr
            td #{l.t("No pending minions.")}

  .col-md-6
    #rejected-list.panel.panel-default
      .panel-heading
        h2
          i.fa.fa-times
          | #{size(rejected_minions)} #{l.t("Rejected")}
      table(class="table table-striped vertical-middle")
        for minion in rejected_minions
          tr
            td
              b #{minion}
            td.col-md-2
              .pull-right
                a.btn.btn-default(href="/rhn/manager/minions/delete/#{minion}"): i.fa.fa-trash-o.no-margin
        else
          tr
            td #{l.t("No rejected minions.")}
