.spacewalk-toolbar-h1
  h1
    i.fa.fa-desktop
    |  
    #{l10n.getMessage("minions.all")}

.row
  .col-md-4
    #pending-list.panel.panel-default
      .panel-heading
        h2
          i.fa.fa-plus
          |  
          #{l10n.getMessage("minions.pending")}
      table(class="table table-striped")
        for minion in unaccepted_minions
          tr
            td(style="vertical-align: middle;")
              b #{minion}
            td.col-md-5
              .pull-right.btn-group
                a.btn.btn-default(href="/rhn/manager/minions/accept/#{minion}"): i.fa.fa-check(style="margin:0px;")
                a.btn.btn-default(href="/rhn/manager/minions/reject/#{minion}"): i.fa.fa-times(style="margin:0px;")
        else
          tr
            td #{l10n.getMessage("minions.no.pending")}

  .col-md-4
    #accepted-list.panel.panel-default
      .panel-heading
        h2
          i.fa.fa-check
          |  
          #{l10n.getMessage("minions.accepted")}
      table(class="table table-striped")
        for minion in minions
          tr
            td(style="vertical-align: middle;")
              if present.contains(minion)
                b: a(href="/rhn/manager/minions/#{minion}") #{minion}
              else
                i.fa.fa-exclamation-triangle(title="Minion is not available.", style="color: #a81a1a")
                |  
                b #{minion}
            td.col-md-2
              .pull-right
                a.btn.btn-default(href="/rhn/manager/minions/delete/#{minion}"): i.fa.fa-trash-o(style="margin:0px;")
        else
          tr
            td #{l10n.getMessage("minions.no.accepted")}

  .col-md-4
    #rejected-list.panel.panel-default
      .panel-heading
        h2
          i.fa.fa-times
          |  
          #{l10n.getMessage("minions.rejected")}
      table(class="table table-striped")
        for minion in rejected_minions
          tr
            td(style="vertical-align: middle;")
              b #{minion}
            td.col-md-2(style="vertical-align: middle;")
              .pull-right
                a.btn.btn-default(href="/rhn/manager/minions/delete/#{minion}"): i.fa.fa-trash-o(style="margin:0px;")
        else
          tr
            td #{l10n.getMessage("minions.no.rejected")}
