.spacewalk-toolbar-h1
  h1
    i.fa.fa-desktop
    a(href="/rhn/manager/minions") Minions
    |  / #{key}

.panel.panel-default
  .panel-heading
    h2
      i.fa.fa-info
      | Grains
  table(class="table table-striped")
    for value, grain in grains
      tr
        td
          b #{grain}
        td
          b #{value}

    else
      tr
        td No data available

.panel.panel-default
  .panel-heading
    h2
      i.fa.fa-info
      | #{size(packages)} Packages
  table(class="table table-striped")
    for versions, package in packages
      tr
        td
          b #{package}
        td
          b #{versions}

    else
      tr
        td No data available
