include ./minion-header.jade

#appstreams

div#init_channels_appstreams(style="display: none")
    | #{channelsAppStreams}

script(type='text/javascript').
    window.csrfToken = "#{csrf_token}";
    window.title = "#{title}";
    window.view = "#{view}";
    window.serverId = "#{server.id}";
    window.actionChains = !{actionChains};

script(type='text/javascript').
    spaImportReactPage('appstreams/appstreams')
        .then(function(module) {
            module.renderer('appstreams', {
                channelsAppStreams: document.getElementById('init_channels_appstreams').textContent,
            })
        });