include ./minion-header.jade

#snapshots

div#init_snapshots(style="display: none")
    | #{snapshots}

script(type='text/javascript').
    window.csrfToken = "#{csrf_token}";
    window.title = "#{title}";
    window.serverId = "#{server.id}";

script(type='text/javascript').
    spaImportReactPage('systems/details/snapshots')
        .then(function(module) {
            module.renderer('snapshots', {
                snapshots: document.getElementById('init_snapshots').textContent,
                snapshotUpdated: "#{snapshotUpdated}",
            })
        });
