.spacewalk-toolbar-h1
  h1
    i.fa.spacewalk-icon-system-groups
    | #{' System Set Manager Overview '}
    a(href="/docs/reference/systems/ssm-menu.html", target="_blank")
      i.fa.fa-question-circle.spacewalk-help-link

!{h.renderNavigationMenu(request, "/WEB-INF/nav/ssm.xml")}
#highstate

script(type='text/javascript').
    window.csrfToken = "#{csrf_token}";
    window.minions = !{minions};
    window.timezone = "#{h.renderTimezone()}";
    window.localTime = "#{h.renderLocalTime()}";
    window.actionChains = !{actionChains};

script(src='/javascript/manager/highstate/highstate.bundle.js?cb=#{webVersion}', type='text/javascript')
