.spacewalk-toolbar-h1
  h1
    i.fa.spacewalk-icon-system-groups
    | #{' System Set Manager Overview '}
    a(href="/rhn/help/reference/en-US/ref.webui.systems.ssm.jsp", target="_blank")
      i.fa.fa-question-circle.spacewalk-help-link

!{h.renderNavigationMenu(request, "/WEB-INF/nav/ssm.xml")}
#highstate

script(type='text/javascript').
    const csrfToken = "#{csrf_token}";
    const minions = !{minions};
    const timezone = "#{h.renderTimezone()}";
    const localTime = "#{h.renderLocalTime()}";
    const actionChains = !{actionChains};

script(src='/javascript/manager/highstate/highstate.bundle.js?cb=#{webVersion}', type='text/javascript')
