include ./minion-header.jade

#ansible-path-content

script(type='text/javascript').
    window.csrfToken = "#{csrf_token}";
    window.timezone = "#{h.renderTimezone()}";
    window.localTime = "#{h.renderLocalTime()}";

if actionChains
    script(type='text/javascript').
        window.actionChains = !{actionChains};

script(src='/javascript/ace-editor/src-min-noconflict/ace.js?cb=#{webBuildtimestamp}')
script(src='/javascript/ace-editor/src-min-noconflict/ext-modelist.js?cb=#{webBuildtimestamp}')

script(type='text/javascript').
    spaImportReactPage('minion/ansible/path-content')
        .then(function (module) {
            module.renderer(
                'ansible-path-content',
                {id: #{server.id}, pathContentType: '#{pathContentType}'}
            )
        });
