include ./minion-header.jade

div#init_channels_appstreams(style="display: none")
    | #{channelsAppStreams}

script(type='text/javascript').
    window.csrfToken = "#{csrf_token}";
    window.title = "#{title}";
    window.view = "#{view}";
    window.serverId = "#{server.id}";
    window.actionChains = !{actionChains};

#appstreams
    script(type='text/javascript').
        injectReactPage('appstreams/appstreams', {
            channelsAppStreams: document.getElementById('init_channels_appstreams').textContent,
        });
