include ./minion-header.jade

#highstate

script(type='text/javascript').
    window.csrfToken = "#{csrf_token}";
    window.minions = [{id: #{server.id}, name: "#{server.name}"}];
    window.timezone = "#{h.renderTimezone()}";
    window.localTime = "#{h.renderLocalTime()}";
    window.actionChains = !{actionChains};

script(src='/javascript/manager/highstate.bundle.js?cb=#{webVersion}', type='text/javascript')
