.spacewalk-toolbar-h1
  .spacewalk-toolbar
    a(href="/rhn/systems/details/DeleteConfirm.do?sid=#{serverId}")
        i.fa.fa-trash-o(title='Delete System')
        | #{l.t("Delete System")}
  h1
    i.fa.fa-desktop
    | #{" " + serverName + " "}
    a(href="/rhn/systems/details/DeleteConfirm.do?sid=#{serverId}", target="_blank")
      i.fa.fa-question-circle.spacewalk-help-link

!{navigation}
#package-states

if isDevMode
  script(src='/javascript/reactjs/react-with-addons.js')
  script(src='/javascript/reactjs/JSXTransformer.js')
else
  script(src='/javascript/reactjs/react-with-addons.min.js')
  script(src='/javascript/reactjs/JSXTransformer.js')

script(type='text/jsx;harmony=true').
    const csrfToken = "#{csrf_token}";
    const serverId = "#{serverId}";
    const serverName = "#{serverName}";
script(src='/javascript/manager/package-states.js', type='text/jsx;harmony=true')