include ./minion-header.jade

script(type="text/javascript").
    window.csrfToken = "#{csrf_token}";
    window.minions = [{id: #{server.id}, name: "#{server.name}"}];
    window.proxies = !{proxies};
    window.currentProxy = !{currentProxy};

#proxy
    script(type='text/javascript').
        injectReactPage('systems/proxy');
