include ../common.jade
#products

script(type='text/javascript').
    const csrfToken = "#{csrf_token}";
    const issMaster_flag_from_backend = #{issMaster};
    const refreshNeeded_flag_from_backend = #{refreshNeeded};
    const refreshRunning_flag_from_backend = #{refreshRunning};
    const scc_refresh_file_locked_status = #{refreshFileLocked};

+userPreferences
script(src='/javascript/manager/products.bundle.js?cb=#{webVersion}', type='text/javascript')
