include ../common.jade

script(src='/javascript/momentjs/moment-with-langs.min.js?cb=#{webBuildtimestamp}', type='text/javascript')

script(type='text/javascript').
    window.csrfToken = "#{csrf_token}";

#systems-all-list
    script(type='text/javascript').
        injectReactPage('systems/list/all', {
            isAdmin: #{is_admin},
            queryColumn: #{queryColumn},
            query: !{query}
        });
