include ../system-common.jade

script(src='/javascript/momentjs/moment-with-langs.min.js?cb=#{webBuildtimestamp}', type='text/javascript')

script(type='text/javascript').
    window.csrfToken = "#{csrf_token}";

#systems-mgr-server
    script(type='text/javascript').
        injectReactPage('systems/details/mgr-server-info', {
            serverId: "#{server.id}",
            name: "#{name}",
            version: "#{version}",
            reportDbName: "#{reportDbName}",
            reportDbHost: "#{reportDbHost}",
            reportDbPort: "#{reportDbPort}",
            reportDbUser: "#{reportDbUser}",
            reportDbLastSynced: "#{reportDbLastSynced}",
            isAdmin: #{is_admin}
        });
