include ../common.jade
#report-inventory

script(src='/javascript/momentjs/moment-with-langs.min.js?cb=#{webBuildtimestamp}', type='text/javascript')

script(type='text/javascript').
    window.csrfToken = "#{csrf_token}";
+userPreferences

script(type='text/javascript').
    spaImportReactPage('reporting/inventory')
        .then(function(module) {
            module.renderer(
                'report-inventory', '#{docsLocale}',
                {
                    queryColumn: #{queryColumn},
                    query: !{query}
                }
            )
        });
