.spacewalk-toolbar-h1
  .spacewalk-toolbar
    a(href="/rhn/admin/multiorg/DeleteOrg.do?oid=#{orgId}")
        i.fa.fa-trash-o(title='Delete System')
        | #{l.t("Delete Organization")}
  h1
    i.fa.fa-group
    | #{" " + orgName + " "}

!{tabs}
#config-channels

script(type='text/javascript').
    window.csrfToken = "#{csrf_token}";
    window.orgId = "#{orgId}";

script(src='/javascript/legacy/ace-editor/ace.js?cb=#{webBuildtimestamp}')
script(src='/javascript/legacy/ace-editor/ext-modelist.js?cb=#{webBuildtimestamp}')
script(src='/javascript/jquery-ui.js?cb=#{webBuildtimestamp}')

script(type='text/javascript').
    spaImportReactPage('organizations/config-channels/org-config-channels')
        .then(function(module) { module.renderer('config-channels') });
