.spacewalk-toolbar-h1
  .spacewalk-toolbar
    a(href="/rhn/admin/multiorg/DeleteOrg.do?oid=#{orgId}")
        i.fa.fa-trash-o(title='Delete System')
        | #{l.t("delete organization")}
  h1
    i.fa.fa-group
    | #{" " + orgName + " "}

!{h.renderNavigationMenu(request, "/WEB-INF/nav/org_tabs.xml")}
#config-channels

script(type='text/javascript').
    var csrfToken = "#{csrf_token}";
    var orgId = "#{orgId}";

script(src='/javascript/ace-editor/src-min-noconflict/ace.js')
script(src='/javascript/ace-editor/src-min-noconflict/ext-modelist.js')
script(src='/javascript/jquery-ui.js')

script(src='/javascript/manager/org-config-channels.bundle.js', type='text/javascript')
