.spacewalk-toolbar-h1
  .spacewalk-toolbar
    a(href="/rhn/admin/multiorg/DeleteOrg.do?oid=#{orgId}")
        i.fa.fa-trash-o(title='Delete System')
        | #{l.t("Delete Organization")}
  h1
    i.fa.fa-group
    | #{" " + orgName + " "}

!{tabs}
#recurring-actions

script(src='/javascript/legacy/ace-editor/ace.js?cb=#{webBuildtimestamp}')
script(src='/javascript/legacy/ace-editor/ext-modelist.js?cb=#{webBuildtimestamp}')
script(src='/javascript/jquery-ui.js?cb=#{webBuildtimestamp}')

script(type='text/javascript').
    window.csrfToken = "#{csrf_token}";
    window.orgId = "#{orgId}";
    window.orgName = "#{orgName}";
    window.minions = !{minions};
    window.entityType = "#{entityType}";
    window.timezone = "#{h.renderTimezone()}";
    window.localTime = "#{h.renderLocalTime()}";

script(type='text/javascript').
    spaImportReactPage('recurring/recurring-actions')
        .then(function(module) { module.renderer('recurring-actions') });
