#virtualguests-console(style="height: 100%")

script(type='text/javascript').
    spaImportReactPage('virtualization/guests/console/guests-console')
        .then(function(module) {
             module.renderer(
              'virtualguests-console',
              {
                  hostId: "#{server.id}",
                  guestUuid: "#{guestUuid}",
                  guestName: "#{guestName}",
                  graphicsType: "#{graphicsType}",
                  token: "#{token}",
              }
            )
        });
