#virtualguests-console(style="height: 100%")

script(src='/javascript/manager/virtualization/guests/console/guests-console.renderer.bundle.js?cb=#{webVersion}', type='text/javascript')

script(type='text/javascript').
    pageRenderers.guests.console.guestsConsoleRenderer(
        'virtualguests-console',
        {
            hostId: "#{server.id}",
            guestUuid: "#{guestUuid}",
            guestName: "#{guestName}",
            graphicsType: "#{graphicsType}",
            socketUrl: "#{socketUrl}",
        }
    );
