include ../../system-common.jade
#virtualguests-edit

script(src='/javascript/momentjs/moment-with-langs.min.js?cb=#{webVersion}', type='text/javascript')
script(src='/javascript/validator/validator.min.js?cb=#{webVersion}', type='text/javascript')
script(src='/javascript/manager/virtualization/guests/edit/guests-edit.renderer.bundle.js?cb=#{webVersion}', type='text/javascript')

script(type='text/javascript').
    window.csrfToken = "#{csrf_token}";
+userPreferences

script(type='text/javascript').
    pageRenderers.guests.edit.guestsEditRenderer(
        'virtualguests-edit',
        {
            host: {
                "id": "#{server.id}",
                "cpu": {
                    "count": #{server.cpu.nrCPU}
                },
                saltEntitled: #{isSalt},
            },
            guestUuid: "#{guestUuid}",
            actionChains: !{actionChains},
            timezone: "#{h.renderTimezone()}",
            localTime: "#{h.renderLocalTime()}",
        }
    );
