include ../../system-common.jade
#virtualguests

script(src='/javascript/momentjs/moment-with-langs.min.js?cb=#{webVersion}', type='text/javascript')

script(type='text/javascript').
    window.csrfToken = "#{csrf_token}";
+userPreferences

script(type='text/javascript').
    spaImportReactPage('virtualization/guests/list/guests-list')
        .then((module) => module.renderer(
          'virtualguests',
          {
              serverId: "#{server.id}",
              saltEntitled: #{salt_entitled},
              foreignEntitled: #{foreign_entitled},
              isAdmin: #{is_admin}
          }
        ));
