include ../../system-common.jade
#virtualguests

script(src='/javascript/momentjs/moment-with-langs.min.js?cb=#{webBuildtimestamp}', type='text/javascript')

script(type='text/javascript').
    window.csrfToken = "#{csrf_token}";
+userPreferences

script(type='text/javascript').
    spaImportReactPage('virtualization/guests/list/guests-list')
        .then(function(module) {
             module.renderer(
              'virtualguests',
              {
                  serverId: "#{server.id}",
                  pageSize: "#{pageSize}",
                  saltEntitled: #{salt_entitled},
                  foreignEntitled: #{foreign_entitled},
                  isAdmin: #{is_admin},
                  hostInfo: !{hostInfo},
              }
            )
        });
