include ../../system-common.jade
#virtualguests

script(src='/javascript/momentjs/moment-with-langs.min.js?cb=#{webVersion}', type='text/javascript')

script(type='text/javascript').
    window.csrfToken = "#{csrf_token}";
+userPreferences
script(src='/javascript/manager/virtualization/guests/list/guests-list.renderer.bundle.js?cb=#{webVersion}', type='text/javascript')
script(type='text/javascript').
    pageRenderers.guests.list.renderer(
        'virtualguests',
        {
            serverId: "#{server.id}",
            saltEntitled: #{salt_entitled},
            isAdmin: #{is_admin}
        }
    );
