include ../common.jade

#account-email-form

script(type='text/javascript').
    window.csrfToken = "#{csrf_token}";

script(type='text/javascript').
    spaImportReactPage('account/account-email')
        .then(function(module) {
            module.renderer(
                'account-email-form', '#{docsLocale}',
                {
                    currentEmail: '#{currentEmail}',
                    targetUserId: #{targetUserId},
                    targetUserName: '#{targetUserName}',
                    contextMode: '#{contextMode}'
                }
            )
        });




