include ./minion-header.jade

#proxy-config

script(type='text/javascript').
    window.csrfToken = "#{csrf_token}";

script(type='text/javascript').
    spaImportReactPage('minion/proxy/proxy-config')
        .then(function(module) {
             module.renderer(
              'proxy-config',
              {
                serverId: "#{server.id}",
                parents: JSON.parse('!{parents}'),
                currentConfig: !{currentConfig},
                validationErrors: JSON.parse('!{validationErrors}'),
                registryUrlExample: "#{registryUrlExample}",
                registryTagExample: "#{registryTagExample}",
                hasCertificates: JSON.parse("#{hasCertificates}")
              }
            )
        });
