include /templates/common.jade

+userRoles
+userLocalization
+userPreferences

#removeNode

script(type='text/javascript').
    window.csrfToken = "#{csrf_token}";
    window.actionChains = !{actionChains};

div#init_data_cluster(style="display: none")
    | #{contentCluster}

div#init_data_nodes(style="display: none")
    | #{nodes}

script(type='text/javascript').
    spaImportReactPage('clusters/remove-node')
        .then(function(module) { module.renderer(
            'removeNode',
                {
                    cluster: document.getElementById('init_data_cluster').textContent,
                    nodes: document.getElementById('init_data_nodes').textContent,
                    flashMessage: "#{flashMessage}"
                }
            ); });
