.spacewalk-toolbar-h1
  .spacewalk-toolbar
    a(href="/rhn/groups/Delete.do?sgid=#{groupId}" class="btn btn-danger")
        i.fa.fa-trash-o(title='Delete Group')
        | #{l.t("Delete Group")}
    a(href="/rhn/systems/WorkWithGroup.do?sgid=#{groupId}" class="btn btn-default")
        i.fa.spacewalk-icon-system-groups(title='Work With Group')
        | #{l.t("Work With Group")}

  h1
    i.fa.spacewalk-icon-system-groups
    | #{" " + groupName + " "}

!{tabs}
#config-channels

script(type='text/javascript').
    window.csrfToken = "#{csrf_token}";
    window.groupId = "#{groupId}";

script(src='/javascript/legacy/ace-editor/ace.js?cb=#{webBuildtimestamp}')
script(src='/javascript/legacy/ace-editor/ext-modelist.js?cb=#{webBuildtimestamp}')
script(src='/javascript/jquery-ui.js?cb=#{webBuildtimestamp}')

script(type='text/javascript').
    spaImportReactPage('groups/config-channels/group-config-channels')
        .then(function(module) { module.renderer('config-channels') });
