.spacewalk-toolbar-h1
  .spacewalk-toolbar
    a(href="/rhn/groups/Delete.do?sgid=#{groupId}")
        i.fa.fa-trash-o(title='Delete Group')
        | #{l.t("Delete Group")}
    a(href="/rhn/systems/WorkWithGroup.do?sgid=#{groupId}")
        i.fa.spacewalk-icon-system-groups(title='Work With Group')
        | #{l.t("Work With Group")}

  h1
    i.fa.spacewalk-icon-system-groups
    | #{" " + groupName + " "}

!{h.renderNavigationMenu(request, "/WEB-INF/nav/system_group_detail.xml")}
#config-channels

script(type='text/javascript').
    var csrfToken = "#{csrf_token}";
    var groupId = "#{groupId}";

script(src='/javascript/ace-editor/src-min-noconflict/ace.js?cb=#{webVersion}')
script(src='/javascript/ace-editor/src-min-noconflict/ext-modelist.js?cb=#{webVersion}')
script(src='/javascript/jquery-ui.js?cb=#{webVersion}')

script(src='/javascript/manager/groups/config-channels/group-config-channels.bundle.js?cb=#{webVersion}', type='text/javascript')
