.spacewalk-toolbar-h1
  .spacewalk-toolbar
    a(href="/rhn/groups/Delete.do?sgid=#{groupId}")
        i.fa.fa-trash-o(title='Delete Group')
        | #{l.t("Delete Group")}
    a(href="/rhn/systems/WorkWithGroup.do?sgid=#{groupId}")
        i.fa.spacewalk-icon-system-groups(title='Work With Group')
        | #{l.t("Work With Group")}

  h1
    i.fa.spacewalk-icon-system-groups
    | #{" " + groupName + " "}

!{h.renderNavigationMenu(request, "/WEB-INF/nav/system_group_detail.xml")}
#highstate

script(type='text/javascript').
    window.csrfToken = "#{csrf_token}";
    window.minions = !{minions};
    window.timezone = "#{h.renderTimezone()}";
    window.localTime = "#{h.renderLocalTime()}";
    window.actionChains = !{actionChains};

script(src='/javascript/manager/highstate.bundle.js?cb=#{webVersion}', type='text/javascript')
