// todo i18n

.spacewalk-toolbar-h1
  .spacewalk-toolbar
    a(href="vhm/new") Add Virtual Host Manager
  h1
    i.fa.spacewalk-icon-virtual-host-manager
    | Virtual Host Managers

.row
  .col-md-12
    #pending-list.panel.panel-default
      table(class="table table-rounded")
        thead
          tr
            th
              | Label
            th
        tbody.table-content
          if empty(virtualHostManagers)
            tr
              td: You don't have any Virtual Host Managers
          else
            for vhmanager in virtualHostManagers
              tr
                td.text-only
                  a(href="vhm/#{vhmanager.label}") #{vhmanager.label}, #{vhmanager.org.name}
                td
                  .pull-right
                    form(action="vhm/refresh/#{vhmanager.label}", method="post")
                      input(type="hidden", name="csrf_token", value="#{csrf_token}")
                      button#refresh(class="btn btn-default")
                        i.fa.fa-refresh
                        | Refresh

