// todo i18n

.spacewalk-toolbar-h1
  h1
    i.fa.spacewalk-icon-virtual-host-manager
    | #{virtualHostManager.label}

ul
  li Organization: #{virtualHostManager.org.name}
  li Gatherer module: #{virtualHostManager.gathererModule}
  li User name: #{virtualHostManager.credentials.username}
  li Configs:
    ul
      for config in virtualHostManager.configs
        li #{config.parameter}: #{config.value}

form(action="delete/#{virtualHostManager.label}", method="post")
  input(type="hidden", name="csrf_token", value="#{csrf_token}")
  input(type="submit", value="Delete this Virtual Host Manager")
