// todo i18n

.spacewalk-toolbar-h1
  h1
    i.fa.spacewalk-icon-virtual-host-manager
    | #{virtualHostManager.label}

.row.col-md-12
  .panel.panel-default
    .panel-heading
      h4 Properties
    .table-responsive: table(class="table")
      tbody
        tr
          td.col-md-3 Organization:
          td.col-md-9 #{virtualHostManager.org.name}
        tr
          td.col-md-3 Gatherer module:
          td.col-md-9 #{virtualHostManager.gathererModule}
        tr
          td.col-md-3 User name:
          td.col-md-9 #{virtualHostManager.credentials.username}
        for config in virtualHostManager.configs
          tr
            td.col-md-3 #{config.parameter}:
            td.col-md-9 #{config.value}

form(method="post")
  input(type="hidden", name="csrf_token", value="#{csrf_token}")
  .col-offset-3.col-md-9
    button(type="submit" formaction="#{virtualHostManager.label}/delete").btn.btn-danger
      i.fa.fa-trash
      | Delete Virtual Host Manager
    &nbsp;
    button(type="submit" formaction="#{virtualHostManager.label}/refresh").btn.btn-default
      i.fa.fa-refresh
      | Refresh data from this Virtual Host Manager
