include ../common.jade

#image-profile-edit

script(src='/javascript/validator/validator.min.js', type='text/javascript')

script(type='text/javascript').
    const csrfToken = "#{csrf_token}";
    const profileId = "#{profileId}";
    const activationKeys = !{activationKeys};
    const customDataKeys = !{customDataKeys};
    const imageTypesDataFromTheServer = !{imageTypesDataFromTheServer};

script(src='/javascript/manager/image-profile-edit.bundle.js', type='text/javascript')

