include ../common.jade

#image-profile-edit

script(src='/javascript/validator/validator.min.js?cb=#{webVersion}', type='text/javascript')

script(type='text/javascript').
    window.csrfToken = "#{csrf_token}";
    window.profileId = "#{profileId}";
    window.activationKeys = !{activationKeys};
    window.customDataKeys = !{customDataKeys};
    window.imageTypesDataFromTheServer = !{imageTypesDataFromTheServer};

script(src='/javascript/manager/image-profile-edit.bundle.js?cb=#{webVersion}', type='text/javascript')

