include ../common.jade

#image-view

script(type='text/javascript').
    window.csrfToken = "#{csrf_token}";
    window.imageId = "#{id}";
    window.isAdmin = #{isAdmin};
    window.timezone = "#{h.renderTimezone()}";
    window.localTime = "#{h.renderLocalTime()}";
    window.isRuntimeInfoEnabled = #{isRuntimeInfoEnabled};

+userPreferences
script(src='/javascript/manager/images/image-view.bundle.js?cb=#{webVersion}', type='text/javascript')
