include ../common.jade

#image-view

script(type='text/javascript').
    const csrfToken = "#{csrf_token}";
    const imageId = "#{id}";
    const isAdmin = #{isAdmin};
    const timezone = "#{h.renderTimezone()}";
    const localTime = "#{h.renderLocalTime()}";
    const isRuntimeInfoEnabled = #{isRuntimeInfoEnabled};

+userPreferences
script(src='/javascript/manager/image-view.bundle.js?cb=#{webVersion}', type='text/javascript')
