include ../common.jade

script(src='/javascript/d3.js?cb=#{webVersion}', type='text/javascript')

#hierarchy

script(type='text/javascript').
    window.csrfToken = "#{csrf_token}";
    window.endpoint = "#{endpoint}";
    window.title = "#{title}";
    window.view = "#{view}";

script(src='/javascript/manager/visualization/hierarchy.bundle.js?cb=#{webVersion}', type='text/javascript')
