.spacewalk-toolbar-h1
  .spacewalk-toolbar
    if isActivationKeyAdmin
      a(href="/rhn/activationkeys/Clone.do?tid=#{activationKeyId}")
        i.fa.fa-files-o(title='Clone Key')
        | #{l.t("Clone Key")}
      a(href="/rhn/activationkeys/Delete.do?tid=#{activationKeyId}")
        i.fa.fa-trash-o(title='Delete Key')
        | #{l.t("Delete Key")}
  h1
    i.fa.fa-key
    | #{' ' + note + ' '}
    a(href="/docs/#{docsLocale}/reference/systems/activation-keys.html", target="_blank")
      i.fa.fa-question-circle.spacewalk-help-link
!{tabs}
#appstreams

div#init_channels_appstreams(style="display: none")
    | #{channelsAppStreams}

script(type='text/javascript').
    window.activationKeyId = "#{activationKeyId}";
    window.csrfToken = "#{csrf_token}";

script(type='text/javascript').
    spaImportReactPage('activationkeys/appstreams')
        .then(function(module) {
            module.renderer('appstreams', {
                channelsAppStreams: document.getElementById('init_channels_appstreams').textContent,
            })
        });
